.config/MusicBrainz
.config/gtk*
.config/dconf
.config/GIMP
.config/procps
.config/pulse
.config/systemd
.config/mimeapps.list
.config/wall.png
.config/QtProject.conf
.config/inkscape
.config/mpd/log
.config/mpd/database
