configuration {
    font:				"Jetbrains Mono 14";
    show-icons:				true;
    icon-theme:				"Papirus-Dark";
    display-drun:			"Apps";
    drun-display-format:		"{name}";
    scroll-method:			0;
    disable-history:			false;
    sidebar-mode:			false;
}

@theme "/home/toru/.config/rofi/themes/windows11-grid-dark.rasi"
